.navbar{
    height: 60px;
    background-color: #003580;
    display: flex;
    justify-content: center;
    font-style: white;
}
.navcontainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-weight: 600;
    font-size: 26px;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}
.navbutton{
    margin-left: 20px;
    border: none;
    padding: 9px 16px;
    cursor: pointer;
    background-color: white;
    color: #0071c2;
    font-size: 13px;
    font-weight: bold;
    border: 0.5px solid #0071c2;
    letter-spacing: 0.5px;
}